### Calling a function of a module by using its name (a string)

Source : https://stackoverflow.com/questions/3061/calling-a-function-of-a-module-by-using-its-name-a-string

**Problem Set** : 
1. You are given a list of variables on which you need to apply the labels. 
1. The labels are defined by the function having the same name as of variable.
1. Two labels are defined inside the labels.py file and two will be defined local on this file.

Call the list and apply all the labels

In [2]:
import pandas as pd
import labels

In [25]:
# create a dummy data
df=pd.DataFrame({'dv':[1,2,1,2,3,4],'dv1':[2,2,2,2,2,1],'dv3':[1,2,1,2,3,4],'dv4':[2,2,2,2,2,1]})

In [26]:
df

   dv  dv1  dv3  dv4
0   1    2    1    2
1   2    2    2    2
2   1    2    1    2
3   2    2    2    2
4   3    2    3    2
5   4    1    4    1

In [51]:
# labels defined inside labels.py file
func_call = ['dv','dv1']

In [24]:
# if we call a function with string then it will through the below error
df['dv'] = df['dv'].apply('dv')

AttributeError: 'dv' is not a valid function for 'Series' object

## Method 1. <u> If you are on different modele you can use getattr

1. hasattr or getattr can be used to determine if a function is defined.
1. This works if you already know the module name. However, if you want the user to provide the module name as a string, this won't work.

In [52]:
# test for one label
method_to_call = getattr(labels,'dv')

In [7]:
method_to_call

In [9]:
df['dv'] =df['dv'].apply(getattr(labels,'dv'))

In [10]:
df

   dv  dv1
0   1    2
1   0    2
2   1    2
3   0    2
4   0    2
5   0    1

### <i>Pass the function name from list

In [27]:
df=pd.DataFrame({'dv':[1,2,1,2,3,4],'dv1':[2,2,2,2,2,1],'dv3':[1,2,1,2,3,4],'dv4':[2,2,2,2,2,1]})

In [28]:
# automate this for more than one function from same module

for x in func_call:
    df[x] = df[x].apply(getattr(labels,x))

In [29]:
df

   dv  dv1  dv3  dv4
0   1    1    1    2
1   0    1    2    2
2   1    1    1    2
3   0    1    2    2
4   0    1    3    2
5   0    0    4    1

##  Method-2 :<u> if you're in the same module you can use globals or local

locals returns a dictionary with a current local symbol table. globals returns a dictionary with global symbol table.

In [30]:
def dv3(dv):
    if dv == 1:
        label = 1
    else:
        label = 0
    return label

def dv4(dv):
    if dv == 1:
        label = 1
    else:
        label = 0
    return label

In [31]:
df['dv3'] = df['dv3'].apply(globals()['dv3'])

In [32]:
df

   dv  dv1  dv3  dv4
0   1    1    1    2
1   0    1    0    2
2   1    1    1    2
3   0    1    0    2
4   0    1    0    2
5   0    0    0    1

In [33]:
df['dv4'] = df['dv4'].apply(locals()['dv4'])

In [34]:
df

   dv  dv1  dv3  dv4
0   1    1    1    0
1   0    1    0    0
2   1    1    1    0
3   0    1    0    0
4   0    1    0    0
5   0    0    0    1

### <i>Pass the function name from list

In [38]:
df=pd.DataFrame({'dv':[1,2,1,2,3,4],'dv1':[2,2,2,2,2,1],'dv3':[1,2,1,2,3,4],'dv4':[2,2,2,2,2,1]})

In [39]:
func_call2 = ['dv3','dv4']

In [42]:
# automate this for more than one function from same module

for x in func_call2:
    df[x] = df[x].apply(locals()[x])

In [43]:
df

   dv  dv1  dv3  dv4
0   1    2    1    0
1   2    2    0    0
2   1    2    1    0
3   2    2    0    0
4   3    2    0    0
5   4    1    0    1

## Method-3 <u> Using eval()

This would be risky. string can have anything and eval would end up eval-ling it without any consideration

In [45]:
df=pd.DataFrame({'dv':[1,2,1,2,3,4],'dv1':[2,2,2,2,2,1],'dv3':[1,2,1,2,3,4],'dv4':[2,2,2,2,2,1]})

In [47]:
df['dv3'] = df['dv3'].apply(eval('dv3'))

In [48]:
df

   dv  dv1  dv3  dv4
0   1    2    1    2
1   2    2    0    2
2   1    2    1    2
3   2    2    0    2
4   3    2    0    2
5   4    1    0    1