In [14]:
import pandas as pd

**data** <br>

FIPS	party	candidatevotes	totalvotes	
1001	democrat	6363	23932	
1001	republican	17379	23932	
1001	Other	190	23932	
1003	democrat	18424	85338	
1003	republican	66016	85338	
1003	Other	898	85338	
1005	democrat	5912	11509	
1005	republican	5550	11509	
1005	Other	47	11509	
1007	democrat	2202	8420

In [17]:
df = pd.read_clipboard()

In [18]:
df

   FIPS       party  candidatevotes  totalvotes  Unnamed: 4
0  1001    democrat            6363       23932         NaN
1  1001  republican           17379       23932         NaN
2  1001       Other             190       23932         NaN
3  1003    democrat           18424       85338         NaN
4  1003  republican           66016       85338         NaN
5  1003       Other             898       85338         NaN
6  1005    democrat            5912       11509         NaN
7  1005  republican            5550       11509         NaN
8  1005       Other              47       11509         NaN
9  1007    democrat            2202        8420         NaN

In [19]:
df.pivot_table(index='FIPS',columns='party',values='candidatevotes')

party  Other  democrat  republican
FIPS
1001   190.0    6363.0     17379.0
1003   898.0   18424.0     66016.0
1005    47.0    5912.0      5550.0
1007     NaN    2202.0         NaN

In [ ]:
# results of your pivot operation possibly contain NaNs, 
# which are of float type, so the rest of the column is 
# also upcasted to float automatically by pandas for 
# efficient computation. 

# Note that the NaNs are filled by zeros (fill_value=0), so you don't get to see them.

In [20]:
df.pivot_table(index='FIPS',columns='party',values='candidatevotes',fill_value=0)

party  Other  democrat  republican
FIPS
1001     190      6363       17379
1003     898     18424       66016
1005      47      5912        5550
1007       0      2202           0

In [ ]:
# We can use reset index method to reset the index of df

In [46]:
df2= df.pivot_table(index='FIPS',columns='party',values='candidatevotes',fill_value=0).reset_index()
df2

party  FIPS  Other  democrat  republican
0      1001    190      6363       17379
1      1003    898     18424       66016
2      1005     47      5912        5550
3      1007      0      2202           0

In [47]:
df2.columns

Index(['FIPS', 'Other', 'democrat', 'republican'], dtype='object', name='party')

In [ ]:
# reset the column axis by using rename axis

In [44]:
df2 = df.pivot_table(index='FIPS',columns='party',values='candidatevotes',fill_value=0).rename_axis(None,axis=1)
df2

      Other  democrat  republican
FIPS
1001    190      6363       17379
1003    898     18424       66016
1005     47      5912        5550
1007      0      2202           0

In [45]:
df2.columns

Index(['Other', 'democrat', 'republican'], dtype='object')

In [48]:
df2 = df.pivot_table(index='FIPS',columns='party',values='candidatevotes',fill_value=0).reset_index().rename_axis(None,axis=1)
df2

   FIPS  Other  democrat  republican
0  1001    190      6363       17379
1  1003    898     18424       66016
2  1005     47      5912        5550
3  1007      0      2202           0

In [49]:
df2.columns

Index(['FIPS', 'Other', 'democrat', 'republican'], dtype='object')